{% extends 'base.html' %}

{% block content %}
    <h2>Posts na Categoria: {{ category.name }}</h2>
    <p>{{ category.description }}</p>

    <ul>
        {% for post in category.posts.all %}
            <li>
                <a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a> 
                - {{ post.date_posted|date:"d M Y" }} 
            </li>
        {% endfor %}
    </ul>

    <p><a href="{% url 'blog:category_list' %}">Voltar às Categorias</a></p>

{% endblock content %}