{% extends 'base.html' %}

{% block content %}
    <h2>{{ post.title }}</h2>
    <small>Postado em: {{ post.date_posted|date:"d M Y, H:i" }}</small>

    <p>
        <a href="{% url 'blog:atualização' pk=post.pk %}">Editar Post</a> | 
        <a href="{% url 'blog:delete' pk=post.pk %}">Remover Post</a> |
        <a href="{% url 'blog:listadeposts' %}">Voltar à Lista</a>
    </p>

    <div style="border: 1px solid #eee; padding: 15px; margin-top: 20px;">
        {{ post.content|safe }} 
    </div>

{% endblock %}